# Python
__pycache__/
*.py[cod]
*.egg-info/

# Spark/Hadoop temp
metastore_db/
derby.log
spark-warehouse/

# IDE
.vscode/
.idea/

# Data outputs in local tests
lakehouse/

!docker-compose.yml

# ignore everything
*

# allow src
!src/
!src/**

# macOS
.DS_Store

# big files
*.tar.gz
*.tgz

# spark/hadoop stuff
spark-*
hadoop-*
apache-hive-*